@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:wght@400;700&display=swap');

html,body{
    padding: 0;
    margin: 0;
    background-color: #151514;
    /* background-image: radial-gradient(circle at centesr,rgba(27, 28, 65, 0.483),rgba(21, 127, 127, 0.502)); */
    backdrop-filter: blur(10px) brightness(0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    color: rgb(241, 236, 223);
    height: 100dvh;
    width: 100dvw;
}
img{
    width: 100vw;
    max-width: 900px;
}
h1{
    font-size: 5rem;
    letter-spacing: 0.8rem;
    position: relative;
    top: -6rem;
    left: 0.4rem;
}
h2{
    position: relative;
    top: -3rem;
    letter-spacing: 0.2rem;
}
h1,h2{
    margin-inline: 0px;
}
h1,h2,img{
    opacity: 1;
    animation: fadein 1.5s     ;
}
@keyframes fadein {
    from{
        opacity: 0;
        top: 0;
    }
    to{
        opacity: 1;
        /* top: -3rem; */
    }
}
@media (max-width:500px) {
    h1{
        font-size: 2.5rem;
        top: -3rem;
    }
    h2{
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        top: -1rem;
    }
}